body {
    width: 100%;
    height: 2000px;
    margin: 0px;
    /* background: black; */
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    
}
body input, body button, body select{
	outline:none;
}
li {
    list-style: none;
}

header {
    position: relative;
    float: left;
    width: 100%;
    height: 700px;
    background: #fab1a0;
}

header img {
    position: absolute;
    width: 100%;
    height: 100%;
}

#header-container {
    position: relative;
    margin: 0 auto;
    width: 500px;
    height: 100%;
    overflow: hidden;
}

#header-welcome-box {
	padding-top:100px;
    position: relative;
    transform: translateY(25%);
    width: 500px;
    height: 100%;
    overflow: hidden;
    color: white;
    font-size: 60px;
    text-align: center;
    line-height: 1.25;
    font-family: 'Josefin Sans', sans-serif;
}

#header-welcome-box p {
    font-size: 16px;
    color: white;
    line-height: 1.25;
    font-weight: 100;
    font-family: 'Josefin Sans', sans-serif;
}

#section1 {
    position: relative;
    float: left;
    width: 100%;
    min-height: 500px;
    margin-top: 2%;

    /* background: #a29bfe; */
}

#article-container {
    position: relative;
    width: 1200px;
    height: 300px;
    margin: 0 auto;

    /* background: #74b9ff; */
}

#article-selectinfo {
    position: relative;
    float: left;
    margin: 0;
    padding: 0px;
    width: 25%;
    height: 100%;
    /* background: #00b894; */
}

#article-selectinfo ul li {
    margin-top: 5%;
    font-size: 1.5em;

}

#article-select {
    position: relative;
    float: left;
    margin: 0;
    padding: 0px;
    width: 75%;
    height: 100%;
    color: #3B3B3B;
    /* background: #fdcb6e; */
}

#article-select form {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
}
.li-style{
    background: #ed4848;
    font-size: 16px;
    border: 2px solid #ed4848;
    border-radius: 10px;
    cursor: pointer;
    font-weight:bold;
}
#form-ul li{
	position: relative;
    float: left;
    display: block;
    width: 180px;
    height: 30px;
    padding-top: 1%;
    text-align: center;
    margin-left: 2%;
    margin-bottom:60px;
    color: #e5e5e5;
}
#form-ul{
    /* position: relative;
    height: 60%; */
    padding-left:90px;
    padding-right:90px;
    padding-bottom:60px;
} 
/* #step-ul li{
	position: relative;
    float: left;
    display: block;
    padding-top: 1%;
    text-align: center;
    margin-left: 2%;
    margin-bottom:0px;
    color: #e5e5e5;
} */
/* #article-select ul li {
    position: relative;
    float: left;
    display: block;
    width: 27%;
    height: 65%;
    padding-top: 1%;
    background: #2bcbba;
    text-align: center;
    margin-left: 2%;
    color: white;
    background: #ed4848;
    font-size: 2em;
    border: 2px solid #ed4848;
    border-radius: 20px;
    cursor: pointer;
} */
#choose{
    height: 30%;
}


.select_menu{
   zindex:10;
}

#inputUser {
    position: relative;
    float: left;
    margin-top: 5%;
    width: 100%;
    height: 30%;
    padding: 0px;
    left: 6%;
    /* margin: 0px; */
}

#inputUser input {
    position: relative;
    float: left;
    width: 60%;
    height: 100%;
    border: none;
    padding: 0px;
    background: #EBEBEB;
    /* border: 2px 2px 0px 2px solid white; */
    border-radius: 50px 0px 0px 50px;
    text-align: center;
    font-size: 1.5em;
}

#inputUser button {
    position: relative;
    float: left;
    width: 35%;
    height: 100%;
    border: none;
    padding: 0px;
    background: #ed4848;
    color: white;
    font-size: 2em;
    /* border: 0px 2px 2px 2px solid white; */
    border-radius: 0px 50px 50px 0px;
}

#article-select-price {
    position: relative;
    float: left;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 0px;
    width: 100%;
    height: 120px;
    text-align: center;
    background: #ed4848;

}

#article-select-price h1 {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    font-size: 2em;
    margin: 0px;
    color: white;
}

#article-select-price h1 span {
    font-size: 2em;
}


.card-container {
    position: relative;
    float: left;
    margin-top: 3%;
    margin-bottom:3%;
    /* background: #3B3B3B; */
}
div.card-box img {
    width: 380px;
    height: 380px;
    z-index: 1;
}

/* div#card-box-1-img{
    width:32%;
} */
.card-box {
    /* position: relative; */
    width: 380px;
    float: left;
    border: 1px solid black;
    height: 550px;
    /* margin-right: 10%; */
}

.card-box:not(:last-child) {
    margin-right: 2%;
}

div.card-container{
    width: 1200px;
}
div#air-containter{
    position: relative;
    bottom: 10%;
    float: left;
   /*  margin-top: 3%; */
    width:1200px;
    border: 1px solid black;
    margin-bottom:60px;
}
table{
   /*  margin:0; */
    width: 1200px;
    /* border-collapse: collapse;
     border-spacing: 0
 */
}
table img{
    width:50px;
    height: 20px;
    
}
div.airplane{
	position: relative;
    bottom: 10%;
    float: left;
    width:1200px;
    margin-bottom:20px;
}
div#air-containter, #air-containter th,#air-containter td{
    padding: 5px;
  
}
.iconfont{
	font-size:12px; margin:1px;
}
table th{
    background-color: #ed4848;
    border-right: 1px solid lightgray;
    color:white;

}
table td:not(:last-child){

    border-right: 1px solid lightgray;
    
}
#lower-price {
    background-color: #ed4848;
    width: 80px;
    height: 30px;
    color: white;
    position: absolute;
    padding-top: 10px;
    padding-bottom: 5px;
    /* margin-top: -20px; */
    transform: translateY(-50%);
    text-align: center;
    z-index: 100;
    border: 0;
}

#lower-price>p {
    margin: 0;
    font-size: 16px;
}

p {
    margin: 0;
}

.card-box-1-info {
    margin-top: 20px;
    padding-left: 20px;
}

.price {
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
}

.btn-plus,
.btn-minus {
    color: white;
    width: 140px;
    height: 38px;
    font-size:20px;
}

.btn-plus {
    background-color: #ed4848;
}

.btn-minus {
    background-color: lightgray;
}

.btn-plus1,
.btn-minus1 {
    color: white;
    width: 140px;
    height: 38px;
    font-size:20px;
}

.btn-plus1 {
    background-color: #ed4848;
}

.btn-minus1 {
    background-color: lightgray;
}

.airRadio{
    position: relative;
    float: left;
    left: 6%;
    padding: 10px;
}
.airRadio>label{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    margin-right:30px ;
}